In [1]:
OHLC = ["Open", "High", "Low", "Close"];

In [2]:
for x in OHLC:
    print(x)

Open
High
Low
Close

In [3]:
import pandas as pd;
import numpy as np;

In [4]:
dataset = pd.read_csv("dataset/btc-usd.csv", parse_dates=["Date"]);

In [5]:
dataset.info();

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2891 entries, 0 to 2890
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2891 non-null   datetime64[ns]
 1   Open       2891 non-null   float64
 2   High       2891 non-null   float64
 3   Low        2891 non-null   float64
 4   Close      2891 non-null   float64
 5   Adj Close  2891 non-null   float64
 6   Volume     2891 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 158.2 KB

In [6]:
dataset

,Date,Open,High,Low,Close,Adj Close,Volume
0,2015-01-01,320.434998,320.434998,314.002991,314.248993,314.248993,8036550
1,2015-01-02,314.079010,315.838989,313.565002,315.032013,315.032013,7860650
2,2015-01-03,314.846008,315.149994,281.082001,281.082001,281.082001,33054400
3,2015-01-04,281.145996,287.230011,257.612000,264.195007,264.195007,55629100
4,2015-01-05,265.084015,278.341003,265.084015,274.473999,274.473999,43962800
...,...,...,...,...,...,...,...
2886,2022-11-26,16521.576172,16666.863281,16416.228516,16464.281250,16464.281250,18000008764
2887,2022-11-27,16463.882813,16594.406250,16437.025391,16444.626953,16444.626953,20443898509
2888,2022-11-28,16440.222656,16482.933594,16054.530273,16217.322266,16217.322266,27743025156
2889,2022-11-29,16217.639648,16522.257813,16139.396484,16444.982422,16444.982422,23581685468
2890,2022-11-30,16445.476563,17190.937500,16445.476563,17168.566406,17168.566406,29523576583

In [7]:
dataset.iloc[:1, :-1]

        Date        Open        High         Low       Close   Adj Close
0 2015-01-01  320.434998  320.434998  314.002991  314.248993  314.248993

In [8]:
dataset.iloc[-1:, 1:2]

              Open
2890  16445.476563

In [9]:
dataset["Open"].iloc[-1]

16445.476563

In [5]:
list = [["Open", "High", "Low", "Close"], ['red', 'blue', 'yellow', 'blue']]

In [6]:
for x in list:
    print(x);

['Open', 'High', 'Low', 'Close']
['red', 'blue', 'yellow', 'blue']